<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome Icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />

    <!-- Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
        }

        body {
            background-color: #ff99f5;
            background-image:
                radial-gradient(at 61% 4%, hsla(303, 91%, 61%, 1) 0px, transparent 50%),
                radial-gradient(at 75% 66%, hsla(196, 91%, 79%, 1) 0px, transparent 50%),
                radial-gradient(at 98% 88%, hsla(76, 87%, 78%, 1) 0px, transparent 50%),
                radial-gradient(at 23% 16%, hsla(238, 96%, 77%, 1) 0px, transparent 50%),
                radial-gradient(at 95% 65%, hsla(13, 91%, 75%, 1) 0px, transparent 50%),
                radial-gradient(at 10% 79%, hsla(228, 96%, 69%, 1) 0px, transparent 50%),
                radial-gradient(at 85% 58%, hsla(328, 81%, 68%, 1) 0px, transparent 50%);
            background-repeat: no-repeat;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15rem 0;
        }

        .card {
            backdrop-filter: blur(16px) saturate(180%);
            -webkit-backdrop-filter: blur(16px) saturate(180%);
            background-color: rgba(0, 0, 0, 0.75);
            border-radius: 12px;
            border: 1px solid rgba(255, 255, 255, 0.125);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px 40px;
        }

        .lock-icon {
            font-size: 3rem;
        }

        h2 {
            font-size: 1.5rem;
            margin-top: 10px;
            text-transform: uppercase;
        }

        p {
            font-size: 12px;
        }

        button {
            margin-top: 15px;
            width: 80%;
            background-color: deepskyblue;
            color: white;
            padding: 10px;
            text-transform: uppercase;
        }

        .form-container {
            text-align: center;
            margin-top: 20px;
        }

        .form-input {
            margin-top: 15px;
            width: 80%;
            background: transparent;
            border: none;
            border-bottom: 2px solid deepskyblue;
            font-size: 15px;
            color: white;
            outline: none;
        }

        .forgot-password-link {
            margin-top: 10px;
        }

        .forgot-password-link a {
            text-decoration: none;
            color: deepskyblue;
            font-size: 12px;
        }

        .forgot-password-link a:hover {
            text-decoration: underline;
            color: white;
        }

        .custom-alert {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            text-align: center;
            padding: 10px;
            z-index: 9999;
        }
        .success-alert {
            background-color: green;
        }

        .error-alert {
            background-color: red;
        }
    </style>

    <title>OTP Validation </title>
</head>

<body>
    <div class="custom-alert" id="customAlert">
        <p id="alertMessage"></p>
    </div>
    <div class="card">
        <p class="lock-icon"><i class="fas fa-lock"></i></p>
        <h2>Enter Your OTP </h2>
        <p>You can Enter Your OTP Here?</p>
        <div class="form-container">
            <input type="number" class="form-input" id="otp" name="otp" placeholder="Enter Your otp here">
            <button onclick="submitForm()">Submit</button>
        </div>
    </div>
    <div class="alert alert-success alert-dismissible fade show mt-3" id="successAlert" style="display: none;">
        <strong>Success!</strong> OTP Verified!!!
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>

    <div class="alert alert-danger alert-dismissible fade show mt-3" id="errorAlert" style="display: none;">
        <strong>Error!</strong> Invalid OTP!!!!!Please Provide Valid OTP
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>

    <script>
        function showCustomAlert(message, isSuccess) {
            const customAlert = document.getElementById('customAlert');
            const alertMessage = document.getElementById('alertMessage');
            alertMessage.innerText = message;
            customAlert.classList.add(isSuccess ? 'success-alert' : 'error-alert');
            customAlert.style.display = 'block';
            setTimeout(() => {
                customAlert.style.display = 'none';
                customAlert.classList.remove(isSuccess ? 'success-alert' : 'error-alert');
            }, 3000)
        }
        function submitForm() {
            let otp = document.getElementById('otp').value;
            let apiUrl = 'http://localhost:8000/auth/otp'
            const finalOtp = parseInt(otp);
            if (isNaN(finalOtp)) {
                showCustomAlert('OTP is Required');
                return;
            }

            let data = { otp: finalOtp };

            fetch(apiUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                .then(response => {
                    if (response.ok) {
                        window.location.href = 'http://localhost:8000/auth/reset-password'
                    } else {
                        showCustomAlert('Invalid OTP.Please provide Valid OTP to Procedure');
                    }
                })
                .catch(error => {
                    console.log('Error:', error);
                });
        }
    </script>

</body>

</html>